fastapi
uvicorn
tensorflow
h5py
numpy
matplotlib
requests
python-dotenv
pydantic
python-multipart
earthengine-api
google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud
google-generativeai
scipy
typing-extensions
